body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:#2e2e2e;
  color: #ffffff;
}
.App{
  width: 100%;
  margin: auto;
  text-align: center;
}
.button1{
  font-family: 'Trebuchet MS';
  background-color: aquamarine;
  font-weight: bolder;
  font-size: 19px;
}
.dark-mode {
  background-color: #121212;
  color: white;
}

.light-mode {
  background-color: #bdbdbd;
  color: black;
}

.button-link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
}


.button-link:hover {
  text-decoration: underline;
}

.btn-flat {
  border-radius: 5px;
  margin: 5px;
  text-transform: capitalize;
}
.sidenav a {
  font-size: 18px;
  color: inherit;
}
